header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  text-align: start;
}


html {
  background-color: mediumaquamarine;
}

header {
  background-color: black;
}

.lContainer {
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
